h1  {
    color: blue; font-weight: bold; text-align: center
}

.sectionHeader {
    color: darkcyan; font-weight: bold; font-style: italic; text-align: center;
}

#homepage {
    background-color: lightgray;
}

#bootstrapOverridetext{
    font-size: 12px; color:black; font-family: 'Times New Roman', Times, serif;
}

@media only screen and (min-width: 600px) {
        #bootstrapOverridetext {
            font-size: 18px;
    
  }
}

#sidebar{
    border: 8px solid darkcyan; padding:5px; text-align:center;  background-color: darkslategrey;
}


.sideBarText{
    color: lightcyan; font-size: large;
}

ul ol{
    color:darkblue; font-style: italic;
}

ul ul{
    color:royalblue; font-style: italic;
}

#page1{
    background-color: lightgray;
}

#page2{
    background-color: lightgray;
}

#page3{
    background-color: lightgray;
}

#playlist {
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #playlist td {
    border: 1px solid darkcyan;
    padding: 8px;
    background-color: whitesmoke;
  }

  #playlist th {
    border: 1px solid darkcyan;
    padding: 8px;
    background-color: skyblue;
  }